body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: left;
    color:white;
    background: #FFD9C0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    padding:5px
}

.content {padding-top: 50px;padding-left:20px;}

section{width:100%}

.card{border:none; background:#F4BFBF}

.no_width{width:100px;}
.btn-width{width:200px;}

.btnBox{text-align:right;}
#writeBtn{margin:10px; width:80px;}

.center-pagination {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.pagination .page-item.active .page-link {
    background-color: #F4BFBF;
    color: #FFFFFF;
    border-color: #FFFFFF;
}