body{background: #FFD9C0}

.card{border:none;background:#F4BFBF}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    color:white
}

section{width:50%}
h1{margin-bottom:20px}
form{margin-bottom:5px}

.user-info{margin-bottom:10px}
label{margin-bottom:5px;}

button{width:100%; margin-bottom:5px}