body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: left;
    color:white;
    background: #FFD9C0;
}

section{width:80%}

.card{border:none; background:#F4BFBF}

label{margin-bottom:5px;}
button{width:100%; margin-bottom:5px; margin-top:20px;}