body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: left;
    color:white;
    background: #FFD9C0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    padding:5px
}

.content {padding-left:20px;overflow: auto;padding-top:20px;height:80hv;}

section{width:100%; margin:10px}

.card {
    border: none;
    background: #F4BFBF;
    max-height: 80vh;
    overflow-y: auto;
}

.custom-width{width:200px;}

.btnBox{text-align:right;}
#addBtn{margin:10px; width:80px;}