<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="fragments/head :: head"></head>
<head>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/articlesList.css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<section class="content d-flex vh-100">
    <div class="container-fluid row justify-content-center align-content-center">
        <div class="card">
            <div class = "mb-2 text-center">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col" class="no_width">No.</th>
                        <th scope="col">경기일</th>
                        <th scope="col">경기시간</th>
                        <th scope="col">제목</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${diaryList}"
                            th:onclick="|window.location.href='@{/diaries/{id}(id=${item.id})}'|">
                            <td th:text="${item.id}"></td>
                            <td th:text="${item.gameDate}"></td>
                            <td th:text="${#dates.format(item.startGame, 'HH:mm')}"></td>
                            <td th:text="${item.title}"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="pagination-container center-pagination" th:if="${diaryList.size > 0 && diaryList.totalPages > 1}">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item" th:classappend="${diaryList.hasPrevious() ? '' : 'disabled'}">
                                <a class="page-link" th:href="@{/main(page=${diaryList.number - 1}, size=${diaryList.size})}" th:text="'Previous'"></a>
                            </li>
                            <li class="page-item" th:each="pageNum : ${#numbers.sequence(0, diaryList.totalPages - 1)}"
                                th:classappend="${pageNum == diaryList.number ? 'active' : ''}">
                                <a class="page-link" th:href="@{/main(page=${pageNum}, size=${diaryList.size})}" th:text="${pageNum + 1}"></a>
                            </li>
                            <li class="page-item" th:classappend="${diaryList.hasNext() ? '' : 'disabled'}">
                                <a class="page-link" th:href="@{/main(page=${diaryList.number + 1}, size=${diaryList.size})}" th:text="'Next'"></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="btnBox">
                <button class="btn btn-light" type="button" id="writeBtn" onclick="location.href='/writeForm'">글작성</button>
            </div>
        </div>
    </div>
</section>
</body>
</html>