<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<head>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/diaryView.css">
    <script src="/js/diaryView.js"></script>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<section class="content d-flex vh-90" th:classappend="${todayGame ? ' padding-large' : ' padding-small'}">
    <div class="container-fluid row justify-content-center align-content-center">
        <div class="card">
            <div class = "mb-2 text-center" id="contents">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="hidden" id="diary-id" name="id" th:value="${diaryContent.id}" th:if="${diaryContent != null}" />
                <div class="mb-3" id="data_one">
                    <div class="item" th:text="${date}" id="game-date"></div>
                    <div class="item" th:if="${todayGame}" th:text="${#dates.format(gameDataTeam1.startGame, 'HH:mm')}"></div>
                    <div class="item" th:if="${todayGame}" th:text="${gameDataTeam1.teamName} + ' VS ' + ${gameDataTeam1.matchTeam}"></div>
                    <div class="item" th:if="${todayGame}" th:text="${gameDataTeam1.stadium}"></div>
                    <div class="item" th:if="${todayGame} and ${doubleHeader}"></div>
                    <div class="item" th:if="${todayGame} and ${doubleHeader}">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                경기선택
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" id="firstLink" th:href="@{/writeForm(selectedTime='first', inputDate=${date})}">첫번째 경기</a></li>
                                    <li><a class="dropdown-item" id="secondLink" th:href="@{/writeForm(selectedTime='second', inputDate=${date})}">두번째 경기</a></li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="mb-3"  th:text="${diaryContent.title}" id="diary-title"></div>
                <div class="mb-3" id="content-area">
                    <div class="mb-3" id="left-area" th:if="${todayGame}">
                        <div class="mb-3">
                            <p id="line-up-title">Line Up</p>
                            <table class="table table-striped">
                                <tbody>
                                <tr th:each="item : ${hList}">
                                    <td th:text="${item.no}"></td>
                                    <td th:text="${item.position}"></td>
                                    <td th:text="${item.playerName}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table table-striped">
                                <tbody>
                                <tr th:each="item : ${pList}">
                                    <td th:text="${item.position}"></td>
                                    <td th:text="${item.playerName}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="mb-3"  th:text="${diaryContent.mvp}" id="mvp">
                        </div>
                    </div>
                    <div class="mb-3" id="right-area">
                        <div class="mb-3" th:if="${todayGame}">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">TEAM</th>
                                    <th scope="col">1</th>
                                    <th scope="col">2</th>
                                    <th scope="col">3</th>
                                    <th scope="col">4</th>
                                    <th scope="col">5</th>
                                    <th scope="col">6</th>
                                    <th scope="col">7</th>
                                    <th scope="col">8</th>
                                    <th scope="col">9</th>
                                    <th scope="col">10</th>
                                    <th scope="col">11</th>
                                    <th scope="col">12</th>
                                    <th scope="col">R</th>
                                    <th scope="col">H</th>
                                    <th scope="col">E</th>
                                    <th scope="col">B</th>
                                </tr>
                                </thead>
                                <tbody id="">
                                <tr>
                                    <th th:text="${gameDataTeam1.gameResult}"></th>
                                    <th th:text="${gameDataTeam1.teamName}"></th>
                                    <th th:text="${gameDataTeam1.one != null ? gameDataTeam1.one : '-'}"></th>
                                    <th th:text="${gameDataTeam1.two != null ? gameDataTeam1.two : '-'}"></th>
                                    <th th:text="${gameDataTeam1.three != null ? gameDataTeam1.three : '-'}"></th>
                                    <th th:text="${gameDataTeam1.four != null ? gameDataTeam1.four : '-'}"></th>
                                    <th th:text="${gameDataTeam1.five != null ? gameDataTeam1.five : '-'}"></th>
                                    <th th:text="${gameDataTeam1.six != null ? gameDataTeam1.six : '-'}"></th>
                                    <th th:text="${gameDataTeam1.seven != null ? gameDataTeam1.seven : '-'}"></th>
                                    <th th:text="${gameDataTeam1.eight != null ? gameDataTeam1.eight : '-'}"></th>
                                    <th th:text="${gameDataTeam1.nine != null ? gameDataTeam1.nine : '-'}"></th>
                                    <th th:text="${gameDataTeam1.ten != null ? gameDataTeam1.ten : '-'}"></th>
                                    <th th:text="${gameDataTeam1.eleven != null ? gameDataTeam1.eleven : '-'}"></th>
                                    <th th:text="${gameDataTeam1.twelve != null ? gameDataTeam1.twelve : '-'}"></th>
                                    <th th:text="${gameDataTeam1.r != null ? gameDataTeam1.r : '-'}"></th>
                                    <th th:text="${gameDataTeam1.h != null ? gameDataTeam1.h : '-'}"></th>
                                    <th th:text="${gameDataTeam1.e != null ? gameDataTeam1.e : '-'}"></th>
                                    <th th:text="${gameDataTeam1.b != null ? gameDataTeam1.b : '-'}"></th>
                                </tr>
                                <tr>
                                    <th th:text="${gameDataTeam2.gameResult}"></th>
                                    <th th:text="${gameDataTeam2.teamName}"></th>
                                    <th th:text="${gameDataTeam2.one != null ? gameDataTeam2.one : '-'}"></th>
                                    <th th:text="${gameDataTeam2.two != null ? gameDataTeam2.two : '-'}"></th>
                                    <th th:text="${gameDataTeam2.three != null ? gameDataTeam2.three : '-'}"></th>
                                    <th th:text="${gameDataTeam2.four != null ? gameDataTeam2.four : '-'}"></th>
                                    <th th:text="${gameDataTeam2.five != null ? gameDataTeam2.five : '-'}"></th>
                                    <th th:text="${gameDataTeam2.six != null ? gameDataTeam2.six : '-'}"></th>
                                    <th th:text="${gameDataTeam2.seven != null ? gameDataTeam2.seven : '-'}"></th>
                                    <th th:text="${gameDataTeam2.eight != null ? gameDataTeam2.eight : '-'}"></th>
                                    <th th:text="${gameDataTeam2.nine != null ? gameDataTeam2.nine : '-'}"></th>
                                    <th th:text="${gameDataTeam2.ten != null ? gameDataTeam2.ten : '-'}"></th>
                                    <th th:text="${gameDataTeam2.eleven != null ? gameDataTeam2.eleven : '-'}"></th>
                                    <th th:text="${gameDataTeam2.twelve != null ? gameDataTeam2.twelve : '-'}"></th>
                                    <th th:text="${gameDataTeam2.r != null ? gameDataTeam2.r : '-'}"></th>
                                    <th th:text="${gameDataTeam2.h != null ? gameDataTeam2.h : '-'}"></th>
                                    <th th:text="${gameDataTeam2.e != null ? gameDataTeam2.e : '-'}"></th>
                                    <th th:text="${gameDataTeam2.b != null ? gameDataTeam2.b : '-'}"></th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="mb-3" th:text="${diaryContent.content}" id="diary-content">
                        </div>
                    </div>
                </div>
                <div class="btnBox">
                    <a th:href="@{/writeForm(inputDate=${date})}" class="btn btn-light">
                        수정
                    </a>
                    <button type="button" class="btn btn-light" id="delete-btn">삭제</button>
                    <a th:href="@{/main}" class="btn btn-light">
                        목록
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>