<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<head>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/myPage.css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<section class="content d-flex vh-100">
    <div class="container-fluid row justify-content-center align-content-center">
        <div class="card">
            <div class = "mb-2 text-center" id="user-data">
                <form th:action="@{/userUpdate}" method="POST" id="userUpdateForm">
                    <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
                    <div class="mb-3">
                        <label class="form-label">사용자명</label>
                        <input type="text" class="form-control" name="userName" th:value="${user.displayName}">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input type="email" class="form-control" name="email" th:value="${user.email}" id="inputEmail">
                        <div th:if="${errorMessage}" class="error"><p th:text="${errorMessage}"></p></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">응원팀</label>
                        <select class="form-select" required id="teamSelect" name="favoriteTeam">
                            <option value="" selected disabled th:text="${user.favoriteTeam}"></option>
                            <option th:each="item : ${TeamData}" th:value="${item.teamName}" th:text="${item.teamName}"></option>
                        </select>
                    </div>
                    <div id="user-create-date" th:text="'가입일 : ' + ${date}" />
                    <button type="submit" class="btn btn-light" id="updateBtn">저장</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>