<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<head>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/statisics.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/statisics.js"></script>
</head>
<body>
<div th:replace="fragments/navbar_admin :: navbar_admin"></div>
<section class="content d-flex vh-100">
    <div class="container-fluid row justify-content-center align-content-center">
        <div class="card">
            <div class = "mb-2 text-center">
                <div id="today">
                    <h1>TODAY 2024-10-25</h1>
                </div>
                <div>
                    <p>가입자 수 추세</p>
                    <canvas id="todayInviteUser" width="400" height="200"></canvas>
                </div>
                <div>
                    <p>작성 글 수 추세</p>
                    <canvas id="todayWriteDiary" width="400" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>