<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<head>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/write.css">
    <script src="/js/write.js"></script>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<section class="content d-flex vh-90">
    <div class="container-fluid row justify-content-center align-content-center">
        <div class="card" id="dynamicCard">
            <div class = "mb-2 text-center">
                <form th:action="${diaryContent != null ? '/update' : '/write'}" method="POST" id="writeForm">
                    <input type="hidden" th:name="${_csrf?.parameterName}" th:value="${_csrf?.token}" />
                    <input type="hidden" name="id" th:value="${diaryContent.id}" th:if="${diaryContent != null}" />
                    <input type="hidden" name="id" th:value="0" th:if="${diaryContent == null}" />
                    <div class="mb-3" id="data_one">
                        <div class="item"><input type="date" id="date" th:value="${date}" name="gameDate"></div>
                        <div class="item" th:if="${todayGame}" th:text="${#dates.format(gameDataTeam1.startGame, 'HH:mm')}"></div>
                        <input type="hidden" name="startGame" th:value="${#dates.format(gameDataTeam1.startGame, 'HH:mm')}" th:if="${todayGame}" />
                        <input type="hidden" name="startGame" value=""/>
                        <div class="item" th:if="${todayGame}" th:text="${gameDataTeam1.teamName} + ' VS ' + ${gameDataTeam1.matchTeam}"></div>
                        <div class="item" th:if="${todayGame}" th:text="${gameDataTeam1.stadium}"></div>
                        <div class="item" th:if="${todayGame} and ${doubleHeader}">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    경기선택
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" id="firstLink" th:href="@{/writeForm(selectedTime='first', inputDate=${date})}">첫번째 경기</a></li>
                                    <li><a class="dropdown-item" id="secondLink" th:href="@{/writeForm(selectedTime='second', inputDate=${date})}">두번째 경기</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="제목을 입력해주세요." required id="title" name="title" th:value="${diaryContent != null ? diaryContent.title : ''}">
                    </div>
                    <div class="mb-3" id="content-area">
                        <div class="mb-3" id="left-area" th:if="${todayGame}">
                            <div class="mb-3">
                                <p id="line-up-title">Line Up</p>
                                <table class="table table-striped">
                                    <tbody>
                                        <tr th:each="item : ${hList}">
                                            <td th:text="${item.no}"></td>
                                            <td th:text="${item.position}"></td>
                                            <td th:text="${item.playerName}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-striped">
                                    <tbody>
                                        <tr th:each="item : ${pList}">
                                            <td th:text="${item.position}"></td>
                                            <td th:text="${item.playerName}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="MVP를 입력해주세요." required id="mvp" name="mvp" th:value="${diaryContent != null ? diaryContent.mvp : ''}">
                            </div>
                        </div>
                        <input type="hidden" name="mvp" value="" th:if="${!todayGame}"/>
                        <div class="mb-3" id="right-area">
                            <div class="mb-3" th:if="${todayGame}">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">TEAM</th>
                                        <th scope="col">1</th>
                                        <th scope="col">2</th>
                                        <th scope="col">3</th>
                                        <th scope="col">4</th>
                                        <th scope="col">5</th>
                                        <th scope="col">6</th>
                                        <th scope="col">7</th>
                                        <th scope="col">8</th>
                                        <th scope="col">9</th>
                                        <th scope="col">10</th>
                                        <th scope="col">11</th>
                                        <th scope="col">12</th>
                                        <th scope="col" th:if="${gameDataTeam1.division == '포스트시즌'}">13</th>
                                        <th scope="col" th:if="${gameDataTeam1.division == '포스트시즌'}">14</th>
                                        <th scope="col" th:if="${gameDataTeam1.division == '포스트시즌'}">15</th>
                                        <th scope="col">R</th>
                                        <th scope="col">H</th>
                                        <th scope="col">E</th>
                                        <th scope="col">B</th>
                                    </tr>
                                    </thead>
                                    <tbody id="">
                                    <tr>
                                        <th th:text="${gameDataTeam1.gameResult}"></th>
                                        <th th:text="${gameDataTeam1.teamName}"></th>
                                        <th th:text="${gameDataTeam1.one != null ? gameDataTeam1.one : '-'}"></th>
                                        <th th:text="${gameDataTeam1.two != null ? gameDataTeam1.two : '-'}"></th>
                                        <th th:text="${gameDataTeam1.three != null ? gameDataTeam1.three : '-'}"></th>
                                        <th th:text="${gameDataTeam1.four != null ? gameDataTeam1.four : '-'}"></th>
                                        <th th:text="${gameDataTeam1.five != null ? gameDataTeam1.five : '-'}"></th>
                                        <th th:text="${gameDataTeam1.six != null ? gameDataTeam1.six : '-'}"></th>
                                        <th th:text="${gameDataTeam1.seven != null ? gameDataTeam1.seven : '-'}"></th>
                                        <th th:text="${gameDataTeam1.eight != null ? gameDataTeam1.eight : '-'}"></th>
                                        <th th:text="${gameDataTeam1.nine != null ? gameDataTeam1.nine : '-'}"></th>
                                        <th th:text="${gameDataTeam1.ten != null ? gameDataTeam1.ten : '-'}"></th>
                                        <th th:text="${gameDataTeam1.eleven != null ? gameDataTeam1.eleven : '-'}"></th>
                                        <th th:text="${gameDataTeam1.twelve != null ? gameDataTeam1.twelve : '-'}"></th>
                                        <th th:if="${gameDataTeam1.division == '포스트시즌'}" th:text="${gameDataTeam1.thirteen != null ? gameDataTeam1.thirteen : '-'}"></th>
                                        <th th:if="${gameDataTeam1.division == '포스트시즌'}" th:text="${gameDataTeam1.fourteen != null ? gameDataTeam1.fourteen : '-'}"></th>
                                        <th th:if="${gameDataTeam1.division == '포스트시즌'}" th:text="${gameDataTeam1.fifteen != null ? gameDataTeam1.fifteen : '-'}"></th>
                                        <th th:text="${gameDataTeam1.r != null ? gameDataTeam1.r : '-'}"></th>
                                        <th th:text="${gameDataTeam1.h != null ? gameDataTeam1.h : '-'}"></th>
                                        <th th:text="${gameDataTeam1.e != null ? gameDataTeam1.e : '-'}"></th>
                                        <th th:text="${gameDataTeam1.b != null ? gameDataTeam1.b : '-'}"></th>
                                    </tr>
                                    <tr>
                                        <th th:text="${gameDataTeam2.gameResult}"></th>
                                        <th th:text="${gameDataTeam2.teamName}"></th>
                                        <th th:text="${gameDataTeam2.one != null ? gameDataTeam2.one : '-'}"></th>
                                        <th th:text="${gameDataTeam2.two != null ? gameDataTeam2.two : '-'}"></th>
                                        <th th:text="${gameDataTeam2.three != null ? gameDataTeam2.three : '-'}"></th>
                                        <th th:text="${gameDataTeam2.four != null ? gameDataTeam2.four : '-'}"></th>
                                        <th th:text="${gameDataTeam2.five != null ? gameDataTeam2.five : '-'}"></th>
                                        <th th:text="${gameDataTeam2.six != null ? gameDataTeam2.six : '-'}"></th>
                                        <th th:text="${gameDataTeam2.seven != null ? gameDataTeam2.seven : '-'}"></th>
                                        <th th:text="${gameDataTeam2.eight != null ? gameDataTeam2.eight : '-'}"></th>
                                        <th th:text="${gameDataTeam2.nine != null ? gameDataTeam2.nine : '-'}"></th>
                                        <th th:text="${gameDataTeam2.ten != null ? gameDataTeam2.ten : '-'}"></th>
                                        <th th:text="${gameDataTeam2.eleven != null ? gameDataTeam2.eleven : '-'}"></th>
                                        <th th:text="${gameDataTeam2.twelve != null ? gameDataTeam2.twelve : '-'}"></th>
                                        <th th:if="${gameDataTeam1.division == '포스트시즌'}" th:text="${gameDataTeam2.thirteen != null ? gameDataTeam2.thirteen : '-'}"></th>
                                        <th th:if="${gameDataTeam1.division == '포스트시즌'}" th:text="${gameDataTeam2.fourteen != null ? gameDataTeam2.fourteen : '-'}"></th>
                                        <th th:if="${gameDataTeam1.division == '포스트시즌'}" th:text="${gameDataTeam2.fifteen != null ? gameDataTeam2.fifteen : '-'}"></th>
                                        <th th:text="${gameDataTeam2.r != null ? gameDataTeam2.r : '-'}"></th>
                                        <th th:text="${gameDataTeam2.h != null ? gameDataTeam2.h : '-'}"></th>
                                        <th th:text="${gameDataTeam2.e != null ? gameDataTeam2.e : '-'}"></th>
                                        <th th:text="${gameDataTeam2.b != null ? gameDataTeam2.b : '-'}"></th>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="mb-3">
                                <textarea class="form-control" placeholder="내용을 입력해주세요." id="markdown-editor" name="content" style="visibility: hidden;" th:text="${diaryContent != null ? diaryContent.content : ''}"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="btnBox">
                        <button type="submit" class="btn btn-light" id="saveBtn">저장</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>